# BY DEFAULT EXCLUDE EVERYTHING
exclude *
recursive-exclude * */

# NOW INCLUDE BACK EVERYTHING FROM THE CODE FOLDER .. THEN TRIM BACK
recursive-include fundamentals *.*
global-exclude *.pyo
global-exclude *.pyc
global-exclude test_*.py
recursive-exclude tests *
recursive-exclude */tests *
recursive-exclude */*/tests *
recursive-exclude */*/*/tests *
recursive-exclude tests


# INCLUDE REQUIRED PROJECT FILES
include *.md *.cff
include pyproject.toml
include LICENSE
