.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1500px;
}


.rst-content dl p, .rst-content dl table, .rst-content dl ul, .rst-content dl ol {
    margin-bottom: 24px !important;
}
