pymdown-extensions
MarkdownSubscript
mock
git+https://github.com/thespacedoctor/sphinx-markdown-parser.git@master#egg=sphinx_markdown_parser
m2r
mdx_include
lxml
sphinxcontrib-mermaid
docopt
unicodecsv
psutil
pymysql==0.9.0
multiprocess
future
